/* Reset some default styles */
body, h2, form {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-md-6 {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}
input{
    margin-bottom: 20px;
}
input.box {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 22px;
}

input#submit {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-size: 22px;
}

input#submit:hover {
    background-color: #0056b3;
}
